body{
    background-color: #E4F9F5;
    /* height: 20px; */
}
body{
    text-align: center;
    margin: 0px;
    font-family: 'Merriweather', serif;
    font-size: 2em;
}
.bottom-up{
    position: relative;
    left: 20%;
    padding-top: 40px;
    top: 20px;
    width: 20%;
}
.bottom-down{
    position: absolute;
    left: 10%;
    width: 20%;
    /* margin-bottom: 50px; */
}
#mountain{
    margin-top: 5%;
    /* margin-bottom:5%; */
    width:40%;
   
}
#intro{
    width:30%;
    margin: auto;
}
h1{
    color: #66BFBF;
    margin: 50px auto 0 auto;
    font-family: 'Sacramento', cursive;
    font-size: 11.625rem;
    line-height: 2;
}
h2{
    font-weight: normal;
    color: #66BFBF;
    margin-top: 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 4.5rem;
    padding-bottom: 10px;
}
h3{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}
.skill-row{
    width: 50%;
    margin: 100px auto 100px auto;
    text-align: left;
    line-height: 2;
}
.profile{
    text-align: centre;
    margin: auto;
}
.skill-a{
    float: left;
    width: 30%;
    margin-right: 30px;
}
.skill-b{
    width: 25%;
    float: right;
    margin-left: 30px;
}
#profile{
    margin-top: 50px;
    width:15%;
}
p{
    line-height: 2;
}
.top-container {
    /* background-color: #E4F9F5; */
    position: relative;
    padding-top: 100px;
  }
  .bottom-container {
    background-color: #66BFBF;
    padding: 50px 0 20px;
    font-family: 'Montserrat', sans-serif;
  }  
  hr{
    border: dotted #838585 24px;
    width: 4%;
    /* border-color: #EAF6F6; */
    border-bottom: none;
    margin: 100px auto;
    
  }
  .middle-container{
    padding-top: 60px;
    background-color: #f9f9f9;
  }
  a{
    color: #024446;
    font-family: 'Merriweather', serif;
    margin: 10px 20px;
    text-decoration: none;
    
  }